@{
    ViewData["Title"] = "Task List";
}

@model List<TaskResponse>

<div class="matrix">
    <div class="row zero">
        <div class="col-2 first"></div>
        <div class="col-5 first">URGENT</div>
        <div class="col-5 second">NOT URGENT</div>
    </div>
    <div class="row upper">
        <div class="col-2 first">IMPORTANT</div>
        <div class="col-5 q">
            <p style="font-weight:bold">Quadrant 1</p>
            <div class="quad">
                @foreach (var x in Model)
                {
                    if (x.Quadrant == 1 && x.Completed == false)
                    {
                        <div style="display:flex; justify-content: space-between">
                            <div class="name">@x.TaskDescription</div>
                            <div class="name">@x.DueDate</div>
                            <div class="name">@x.Category</div>
                            <div class="name">@x.Completed</div>
                            <div>
                                <a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a>
                            </div>
                            <div>
                                <a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-5">
            <p style="font-weight:bold">Quadrant 2</p>
            <div class="quad">
                @foreach (var x in Model)
                {
                    if (x.Quadrant == 2 && x.Completed == false)
                    {
                        <div style="display: flex; justify-content: space-between">
                            <div class="name">@x.TaskDescription</div>
                            <div class="name">@x.DueDate</div>
                            <div class="name">@x.Category</div>
                            <div class="name">@x.Completed</div>
                            <div>
                                <a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a>
                            </div>
                            <div>
                                <a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a>
                            </div>                      
                        </div>
                    }
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-2 first">NOT IMPORTANT</div>
        <div class="col-5 q">
            <p style="font-weight: bold">Quadrant 3</p>
            <div class="quad">
                @foreach (var x in Model)
                {
                    if (x.Quadrant == 3 && x.Completed == false)
                    {
                        <div style="display: flex; justify-content: space-between">
                            <div class="name">@x.TaskDescription</div>
                            <div class="name">@x.DueDate</div>
                            <div class="name">@x.Category</div>
                            <div class="name">@x.Completed</div>
                            <div>
                                <a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a>
                            </div>
                            <div>
                                <a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a>
                            </div>                       
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-5">
            <p style="font-weight: bold">Quadrant 4</p>
            <div class="quad">
                @foreach (var x in Model)
                {
                    if (x.Quadrant == 4 && x.Completed == false)
                    {
                        <div style="display: flex; justify-content: space-between">
                            <div class="name">@x.TaskDescription</div>
                            <div class="name">@x.DueDate</div>
                            <div class="name">@x.Category</div>
                            <div class="name">@x.Completed</div>
                            <div>
                                <a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a>
                            </div>
                            <div>
                                <a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
