@{
    ViewData["Title"] = "Task List";
}

@model List<TaskResponse>

<div class="container">
    <h1>Task List</h1>
    <h3 style="text-align: center;">Stay focused by keeping track of each task and its associated quadrant.</h3><br />
    <div class="row" style="opacity:0.94">
        <div class="col-sm-6" style="background-color: #DCE6F1; border-color: #183045; border-style: solid; border-left-width: 6px; border-top-width: 6px;">
            <h2>Quadrant I</h2><br>
            @foreach (var x in Model)
            {
                if (x.Quadrant == 1 && x.Completed == false)
                {
                    <div style="display: flex; justify-content: space-between">
                        <div class="col-sm-2"><b>Task</b> @x.TaskDescription</div>
                        <div class="col-sm-1"><b>Due</b> @x.DueDate</div>
                        <div class="col-sm-1"><b>Category</b> @x.Category.CategoryName</div>
                        <div class="col-sm-1"><b>Complete?</b> @x.Completed</div>
                        <div class="col-sm-1">
                            <a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a>
                            <a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a>
                        </div>
                    </div><br />
                }
            }
        </div>
        <div class="col-sm-6" style="background-color: #B4CFEA; border-color: #183045; border-style: solid; border-top-width: 6px; border-right-width: 6px;">
            <h2>Quadrant II</h2><br />
            @foreach (var x in Model)
            {
                if (x.Quadrant == 2 && x.Completed == false)
                {
                    <div style="display: flex; justify-content: space-between">
                        <div class="col-sm-2"><b>Task</b> @x.TaskDescription</div>
                        <div class="col-sm-1"><b>Due</b> @x.DueDate</div>
                        <div class="col-sm-1"><b>Category</b> @x.Category.CategoryName</div>
                        <div class="col-sm-1"><b>Complete?</b> @x.Completed</div>
                        <div class="col-sm-1">
                            <a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a>
                            <a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a>
                        </div>
                    </div><br />
                }
            }
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="opacity:0.94;">
        <div class="col-sm-6" style="background-color: #B4CFEA; border-color: #183045; border-style: solid; border-left-width: 6px; border-bottom-width: 6px;">
            <h2>Quadrant III</h2><br>
            @foreach (var x in Model)
            {
                if (x.Quadrant == 3 && x.Completed == false)
                {
                    <div style="display: flex; justify-content: space-between">
                        <div class="col-sm-2"><b>Task</b> @x.TaskDescription</div>
                        <div class="col-sm-1"><b>Due</b> @x.DueDate</div>
                        <div class="col-sm-1"><b>Category</b> @x.Category.CategoryName</div>
                        <div class="col-sm-1"><b>Complete?</b> @x.Completed</div>
                        <div class="col-sm-1">
                            <a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a>
                            <a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a>
                        </div>
                    </div><br />
                }
            }
        </div>
        <div class="col-sm-6" style="background-color: #DCE6F1; border-color: #183045; border-style: solid; border-bottom-width: 6px; border-right-width: 6px;">
            <h2>Quadrant IV</h2><br>
            @foreach (var x in Model)
            {
                if (x.Quadrant == 4 && x.Completed == false)
                {
                    <div style="display: flex; justify-content: space-between">
                        <div class="col-sm-2"><b>Task</b> @x.TaskDescription</div>
                        <div class="col-sm-1"><b>Due</b> @x.DueDate</div>
                        <div class="col-sm-1"><b>Category</b> @x.Category.CategoryName</div>
                        <div class="col-sm-1"><b>Complete?</b> @x.Completed</div>
                        <div class="col-sm-1">
                            <a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a>
                            <a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a>
                        </div>
                    </div><br />
                }
            }
        </div>
    </div>
</div>
